/*GENERAL SECTION*/

body{
    background-color: #FFF9FB;
}

.bg-body-tertiary{
    background-color: #F0C4C9 !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

footer {
    background-color: #F0C4C9;
    margin-top: 4em;
    display: block;
    padding: 2em;
    padding-left: .5rem ;
    text-align: left;
    color: #A50133;
}

a:active{
    color: #717AB5;
}

h2{
    font-weight: bold;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h5{
    font-weight: bold;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/*RIBBON SECTION*/
.ribbon-container{
    background-color: #A50133;
    height: 3em;
}

/*NAVBAR SECTION*/

.navbar-brand{
    color: #A50133;
}

.nav-item{
    padding-left: 1em;
}

.nav-link{
    color: #A50133;
    border-radius: .5rem;
}

.nav-link:hover{
    color: #717AB5;
    border-radius: .5rem;
    background-color: #FFF9FB;
    /*text-shadow:1px 1px 10px #e0d4d4, 1px 1px 10px #ccc*/
}

.nav-link-active{
    color: #717AB5;
}

.dropdown-menu{
    color: #F0C4C9;
}

.right-nav{
    display: flex;
    margin-left: 1em;
}

/*CAROUSEL SECTION*/

/*FEATURE SECTION*/

.feature-title{
    color: #A50133;
    text-align: center;
    padding-bottom: 2em;
}

.feature-container{
    background-color: #F0C4C9;
    padding: 5em;
    padding-top: 2.5em;
    margin: 5em;
    border-radius: 20px;
}


.btn-primary{
    background-color:#EA7480;
    border-color:#A50133;
    border-width:2.3px;
    font-family:"Poppins", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: medium;
}

.btn-primary:hover{
    background-color:#FFF9FB;
    border-color:#A50133;
    color: #A50133;
}

.card{
    background-color: #FFF9FB;
    color: #A50133;
    border-color:#A50133;
    border-width:2.3px;
    font-family:"Poppins", Arial, Helvetica, sans-serif;
}

/*CARD SECTION*/
.card-info{
    padding: 5em;
    text-align: center;
}

.card-text-2{
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 1em;
}

/*ABOUT US SECTION*/
.about-container{
    background-color: #F0C4C9;
    height: 40em;
    padding: 0px;
    display: flex;
}

.about-image{
    background-color: #FFF9FB;
}

/*FOOTER SECTION*/

.footer-brand{
    color: #A50133;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    margin-left: .2em;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.footer-item{
    color: #A50133;
    font-size: 1em;
    list-style-type: none;
}

.footer-link{
    color: #A50133;
    text-decoration: none;
    padding: .5em;
    margin-top: .5em;
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.footer-link:hover{
    color: #717AB5;
    border-radius: .5rem;
    background-color: #FFF9FB;
    transition: 0.3s;
}